.[mongodb,postgresql,redis,mysql,clickhouse,rabbitmq,kafka]

# Development requirements
flake8
black
mypy

# MyPy requirements
types-PyMySQL
types-PyYAML
types-psycopg2
types-python-dateutil

# For releases
build
twine
