ruff
mypy>=1.11.0

# MyPy requirements
types-PyMySQL
types-PyYAML
types-psycopg2
types-python-dateutil
types-Pygments
types-colorama
types-pexpect
types-pyOpenSSL
types-requests
types-setuptools

# For releases
build
twine
