.-Color-Bold { font-weight: bold; }
.-Color-Bold-Green{ color: #4e9a06; font-weight: bold; }
.-Color-Green{ color: #4e9a06; }
.-Color-Bold-Red{ color: #c00; font-weight: bold; }
.-Color-Red{ color: #c00; }
.-Color-Bold-Yellow{ color: #c4a000; font-weight: bold; }
.-Color-Yellow{ color: #c4a000; }
