# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: yandex-tack-testsuite package tests

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
            - '3.6'
            - '3.7'
            - '3.8'
            - '3.9'
            - '3.10'
    steps:
    - name: Install database dependencies
      run: |
        sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 8919F6BD2B48D754
        echo "deb https://packages.clickhouse.com/deb stable main" | sudo tee \
          /etc/apt/sources.list.d/clickhouse.list

        # convoluted setup of rabbitmq + erlang
        ## Team RabbitMQ's main signing key
        curl -1sLf "https://keys.openpgp.org/vks/v1/by-fingerprint/0A9AF2115F4687BD29803A206B73A36E6026DFCA" | sudo gpg --dearmor | sudo tee /usr/share/keyrings/com.rabbitmq.team.gpg > /dev/null
        ## Launchpad PPA that provides modern Erlang releases
        curl -1sLf "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0xf77f1eda57ebb1cc" | sudo gpg --dearmor | sudo tee /usr/share/keyrings/net.launchpad.ppa.rabbitmq.erlang.gpg > /dev/null
        ## PackageCloud RabbitMQ repository
        curl -1sLf "https://packagecloud.io/rabbitmq/rabbitmq-server/gpgkey" | sudo gpg --dearmor | sudo tee /usr/share/keyrings/io.packagecloud.rabbitmq.gpg > /dev/null

        ## Add apt repositories maintained by Team RabbitMQ
        sudo tee /etc/apt/sources.list.d/rabbitmq.list <<EOF
        ## Provides modern Erlang/OTP releases
        ##
        ## "bionic" as distribution name should work for any reasonably recent Ubuntu or Debian release.
        ## See the release to distribution mapping table in RabbitMQ doc guides to learn more.
        deb [signed-by=/usr/share/keyrings/net.launchpad.ppa.rabbitmq.erlang.gpg] http://ppa.launchpad.net/rabbitmq/rabbitmq-erlang/ubuntu bionic main
        deb-src [signed-by=/usr/share/keyrings/net.launchpad.ppa.rabbitmq.erlang.gpg] http://ppa.launchpad.net/rabbitmq/rabbitmq-erlang/ubuntu bionic main

        ## Provides RabbitMQ
        ##
        ## "bionic" as distribution name should work for any reasonably recent Ubuntu or Debian release.
        ## See the release to distribution mapping table in RabbitMQ doc guides to learn more.
        deb [signed-by=/usr/share/keyrings/io.packagecloud.rabbitmq.gpg] https://packagecloud.io/rabbitmq/rabbitmq-server/ubuntu/ bionic main
        deb-src [signed-by=/usr/share/keyrings/io.packagecloud.rabbitmq.gpg] https://packagecloud.io/rabbitmq/rabbitmq-server/ubuntu/ bionic main
        EOF

        # hackery to disable autostart at installation https://askubuntu.com/questions/74061/install-packages-without-starting-background-processes-and-services
        sudo mkdir /root/fake && ln -s /bin/true/ /root/fake/initctl && \
                            ln -s /bin/true /root/fake/invoke-rc.d && \
                            ln -s /bin/true /root/fake/restart && \
                            ln -s /bin/true /root/fake/start && \
                            ln -s /bin/true /root/fake/stop && \
                            ln -s /bin/true /root/fake/start-stop-daemon && \
                            ln -s /bin/true /root/fake/service && \
                            ln -s /bin/true /root/fake/deb-systemd-helper

        sudo apt-get update
        sudo apt-get install -y redis-server clickhouse-common-static=22.3.2.2
        sudo PATH=/root/fake:$PATH apt-get install -y rabbitmq-server
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip wheel
        python -m pip install flake8 pytest
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=79 --statistics
    - name: Test with pytest
      env:
          TESTSUITE_ALLOW_ROOT: 1
      run: |
          pytest -v tests

    - name: Install examples dependencies
      run: |
        pip install -r docs/examples/requirements.txt

    - name: Run examples tests
      env:
          TESTSUITE_ALLOW_ROOT: 1
          PYTEST: pytest
      run: |
          make -C docs/examples runtests
